name: CI

on:
  push:
    branches: ["*"]
  workflow_dispatch:

jobs:
  deploy:
    name: Rust project
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v4
      
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Install latest stable
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            target: wasm32-unknown-unknown
            override: true

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
